                                
#ignore ALL files
*
/.idea
#Exclude these
!.gitignore
!*/
!.myfuncs
!dockerfile
!*.tf
!*.c
!*.md
!*.sh
!*.py
!Makefile
!*.h
!*.html
!*.css
!*jenkinsfile
!.tfvars
!*.yaml
!*.ini


