                                
#ignore ALL files
*
/.idea
#Exclude these
!.gitignore
!*/
!.myfuncs
!dockerfile
!Dockerfile
!Dockerfile.*
!.dockerignore
!.env.example
!*.txt
!*.tf
!*.c
!*.md
!*.sh
!*.py
!Makefile
!*.h
!*.html
!*.css
!*jenkinsfile
!.tfvars
!*.yaml
!*.yml
!*.ini
!*.csv
!*.conf
!*.tpl
!*.js
!*.json


